@import '../../styles/vars.scss';

.incident-group-filter {
    height: 100%;

    .incident-group {
        display: block;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 6px;
        position: relative;

        input {
            display: none;
        }

        &:hover {
            background-color: $gray3;
        }

        &.inactive {
            .input-group__count,
            .input-group__name {
                color: $gray1;
            }

            .input-group__name {
                text-decoration: line-through;
            }
        }
    }

    .incident-group__dot {
        $diameter: 8px;
        border-radius: 50%;
        display: inline-block;
        width: $diameter;
        height: $diameter;
        opacity: 0.75;
        position: relative;
        border-style: solid;
        border-width: 1px;
        margin-right: 0.5em;
    }

    .incident-group__count {
        margin-left: 0.5em;
        color: $teal;
    }
}
