@import '../../styles/vars.scss';

.filterer {
    overflow-x: hidden;
    transition: height 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: darken($gray2, 3%);
    border-radius: $border-radius;

    .filterer-header {
        border-radius: $border-radius;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
        font-size: 1em;
        display: inline-block;
        padding: 7px;
        cursor: pointer;
        position: relative;
        background-color: $gray3;

        .filterer-header-arrows {
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 5px;

            svg {
                transform: rotate(90deg);
                fill: $gray1;
                height: 30px;
            }

            &.point-up {
                svg {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .menu-section-expander-arrows {
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 5px;
    }

    .filterer-items {
        overflow-y: scroll;
    }

    .filterer-bulk-actions {
        display: flex;
    }

    .filterer-bulk-action {
        background-color: $gray3;
        text-align: center;
        padding: 7px;
        margin-top: 3px;
        border-radius: $border-radius;
        cursor: pointer;
        flex-grow: 1;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }
}
