.incident-feed {
  background: #eee;
  font-family: monospace;
  padding: 1rem;
  max-height: 250px;
  overflow: scroll;

  .incident-dot {
    border-radius: 50%;
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-right: 1em;
  }
}