@import '../../styles/vars.scss';

.timeframe-picker {
    margin-top: 0.2em;

    .timeframe-picker__selector {
        width: 100%;
    }

    .react-select__control {
        border: none !important;
        border-radius: 6px;
    }

    .react-select__control,
    .react-select__value-container,
    .react-select__single-value,
    .react-select__menu {
        background-color: $gray3;
        color: $white;
    }

    .react-select__menu {
        background-color: $gray3;
        color: white;
    }
}
